// Variables css

:root {
  --colorBlack: #000000;
  --colorWhite: #ffffff;
}

// Variables Sass

$colorBlack: #000000;
$colorWhite: #ffffff;

// Viewport var

$mobileWidth: 280px;
$tabletWidth: 600px;
$desktopWidth: 1100px;

// Container centered var

$container: 90%;
$maxWidthContainer: 1000px;

// Retina var

$retinaDppx2x: 1.5dppx;
$retinaDpi2x: 144dpi;

$retinaDppx3x: 2.4dppx;
$retinaDpi3x: 220dpi;

// fonts

$fontWeight1: 100;
$fontWeight2: 200;
$fontWeight3: 300;
$fontWeight4: 400;
$fontWeight5: 500;
$fontWeight6: 600;
$fontWeight7: 700;

$fontFamilyMain: 'Open-Sans', 'Arial', sans-serif;

$fontSizeMobile: 16px;
$fontSizeTablet: 18px;
$fontSizeDesktop: 20px;

$lineHeightDefault: 1.6;

/* margin padding box */

$spaceXS: 0.25rem;
$spaceS: 0.5rem;
$spaceM: 1rem;
$spaceL: 1.5rem;
$spaceXL: 2rem;
$space2XL: 2.5rem;

/* border-radius */

$borderRadiusDefault: 2px;
